<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>phone matcher</title>
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>

<center>
    <div id="error" style="color: red;"></div>
    <div id="warning" style="color: yellow; background: black;"></div>
    <div id="success" style="color: green;"></div>

    <label for="phone">please specify phone number</label> <input id="phone" type="text"/><br/>
    <button id="submit">Submit</button>
</center>
</body>
</html>